.outlets_l {
  padding: 2rem;
 border: 1px solid #f2c377;
}

.location img {
  width:100%;
  height:100%;
  object-fit:cover;
}

.outlets_l .jorethang {
  margin-top: 1rem;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 40rem);
  grid-template-areas:
    "j1 j1 j1 j1"
    "j2 j2 j3 j3"
    "j4 j4 j5 j5"
     "j6 j6 j6 j6"
    "j7 j7 j7 j7"
    "j8  j8 j9 j9"
    "j10 j10 j11 j11"
    "j12 j12 j12 j12"
    "j13 j13 j13 j14"
    "j15 j15 j16 j16";
  width:100%;
  height:100%;
  gap: 16px;
}

#j1 {
  grid-area: j1; 
}

#j2 {
  grid-area: j2; 
}

#j3 {
  grid-area: j3; 
}

#j4 {
  grid-area: j4; 
}

#j5 {
  grid-area: j5; 
}

#j6 {
  grid-area: j6; 
}

#j7 {
  grid-area: j7; 
}

#j8 {
  grid-area: j8; 
}

#j9 {
  grid-area: j9; 
}

#j10 {
  grid-area: j10; 
}

#j11 {
  grid-area: j11; 
}

#j12 {
  grid-area: j12; 
}

#j13 {
  grid-area: j13; 
}

#j14 {
  grid-area: j14; 
}

#j15 {
  grid-area: j15; 
}

#j16 {
  grid-area: j16; 
}

@media (max-width:768px) {
  .outlets_l {
    border: 1px solid #F1BB67;
  }
  .outlets_l .jorethang {
    max-width:100%;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(10,  30rem);
    grid-template-areas: 
    "j1 j1"
    "j2 j3"
    "j4 j4"
    "j5 j5"
     "j6 j6"
    "j7 j7"
    "j8 j9"
    "j10 j11"
    "j12 j12"
    "j13 j14"
    "j15 j15"
    "j16 j16";
  }
} 
