.production__pictures {
  background-color: #F3C987;
  border: 1px solid #F1BB67;
  padding-bottom: 3rem;
}

.production__center {
  display: grid;
  grid-template-columns: repeat(2, 50rem);
  grid-template-rows:repeat(3, 1fr);
  gap: 1rem;
  place-content: center;
  padding: 1.5rem;
}

.production__headings {
  padding: 2rem;
  font-size: 2.4rem;
  font-weight: 700;
  color: #70490b;
  text-align: center;
  text-decoration: underline;
}

h2 {
  margin: 0;
  font-size: 24px;
}

.sec {
  position: relative;
  overflow: hidden;
  font-size: 0;
  cursor: pointer;
}

.sec a {
  text-decoration: none;
  color: #70490b;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: #70490b;
  background-color: rgba(255, 255, 255, 0.70);
  padding: 1px 5px;
  position: absolute;
  inset: auto auto 1rem 1rem;
  margin: auto;
  text-align: center;
}

.overlay {
  background-color: #f6d7a6;
  z-index: 3;
  opacity: 0.8;
  border-radius: 50%;
  transform: translate3d(-62%, 62%, 0);
  transition: all 0.6s ease-out;
  width: 200%;
  height: 200%;
  left: -50%;
}

.sec:hover .overlay {
  opacity: 1;
  border-radius: 40%;
  transform: translate3d(-12.5%, 12.5%, 0);
}

.inner {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 12.5%;
  right: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ytd-container {
  padding: 5%;
  border: 1px solid #F1BB67;
  background-color: #F3C987;
  position: relative;
}

h1 {
  color: #70490b;
  border-bottom: 1px solid #70490b;
  text-align: center;
  position: absolute;
  top:10px;
}

.ytv {
  display: flex;
  justify-content: center;
  padding: 1rem;

	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 2.5rem;
	height: 0;
}

.ytv iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

iframe {
  border: 1px solid #70490b;
  padding: 0.5rem;
}
.back-button {
  display: none;
  position: fixed;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #fcf3e4;
  color: #322105;
  text-decoration: none;
  bottom: -15rem; /* Adjust as needed */
  opacity: 0;
  left: 30%; /* Position horizontally in the middle */
  transform: translateX(-50%);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  z-index: 555; /* Ensure it's above other content */
  transition: all 0.3s ease;
}


.material-symbols-outlined {
  vertical-align: middle;
}
  

@media (max-width: 768px) {
  .ytd-container:first-child, :not(.ytd-container) + .ytd-container {
    padding-top: 15%;
  }
  
  .production__center {
    grid-template-columns: 1fr;
    grid-template-rows:repeat(4, 1fr);
    padding: 1rem;
  }

  .production__center img {
    max-width: 100%;
  }

  .production__headings {
    font-size: 1.8rem;
    font-weight: 700;
  }
}
