
.maingallery {
  margin-top: 1rem;
  display:grid;
  grid-template-areas:
  "m4 m5 m5 m6"
  "m4 m5 m5 m6"
  "m7 m7 m8 m9"
  "m10 m11 m11 m12"
  "m10 m11 m11 m12"
  "m13 m13 m14 m14"
  "m13 m13 m14 m14"
  "m15 m15 m16 m16"
  "m17 m17 m18 m18"
  "m19 m19 m20 m20"
  "m19 m19 m20 m20"
  "m1 m1 m2 m2"
  "m3 m3  m2 m2";
  gap: 16px;;
}

#p1 {
  grid-area:m1;
}

#p2 {
  grid-area:m2;
}

#p3 {
  grid-area:m3;
}

#p4 {
  grid-area:m4;
}

#p5 {
  grid-area:m5;
}

#p6 {
  grid-area:m6;
}

#p7 {
  grid-area:m7;
}

#p8 {
  grid-area:m8;
}

#p9 {
  grid-area:m9;
}


#p10 {
  grid-area:m10;
}

#p11 {
  grid-area:m11;
}

#p12 {
  grid-area:m12;
}

#p13 {
  grid-area:m13;
}

#p14 {
  grid-area:m14;
}

#p15 {
  grid-area:m15;
}

#p16 {
  grid-area:m16;
}

#p17 {
  grid-area:m17;
}

#p18 {
  grid-area:m18;
}

#p19 {
  grid-area:m19;
}

#p20 {
  grid-area:m20;
}


.pictures {
  position:relative;

  display:flex;
  justify-content: center;
  align-items: center;
}

.pictures img {
  width:100%;
  object-fit:cover;
  height:100%;
}

.pictures .overlay {
  color: rgb(112, 73, 11);
  position:absolute;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  inset: auto auto -50px 10px;
  background-color: #fff;
  font-size: 2.4rem;
  font-weight:900;
  z-index: 3;
  opacity:0;
  transition: all 0.3s ease;
}

.pictures a {
  text-decoration: none;
}

.pictures:hover .overlay {
  opacity:1;
  cursor:pointer;
  inset: auto auto 10px 10px;
}

.material-symbols-outlined {
  vertical-align: middle;
}

@media (max-width: 1100px) {
 .maingallery {
    grid-template-areas:
      "m4 m5 m5"
      "m4 m6 m6"
      "m7 m7 m8 "
      "m9 m9 m10"
      "m11 m11 m12"
      "m13 m13 m13"
      "m13 m13 m13"
      "m14 m15 m15"
      "m16 m16 m16"
      "m17 m17 m18"
      "m17 m17 m18"
      "m19 m19 m1"
      "m20 m20 m2"
      "m3 m3 m2";
  } 
  
}

@media (max-width:768px) {
  .maingallery {
    max-width:100%;
    padding:1rem;
    grid-template-areas:
      "m4 m4"
      "m5 m5"
      "m6 m6"
      "m7 m7"
      "m8 m9"
      "m10 m10"
      "m11 m11"
      "m12 m12"
      "m13 m13"
      "m13 m13"
      "m14 m14"
      "m15 m15"
      "m16 m16"
      "m17 m17"
      "m18 m18"
      "m19 m19"
      "m20 m1"
      "m3 m3"
      "m2 m2" ;
  }

}
