.gallery {
  padding: 1rem;
  position: relative;
}

.product {
  position: relative;
}

.productHeading {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.gallery h1 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 2.5rem;
  color: #322105;
  display: inline-block;
  background-color: #F6D7A6;
  padding: 0.2rem 0.6rem;
  border-radius: 5px;
  font-weight: 900;
  font-style: italic;
}

.gallery .saree {
  display:grid;
  grid-template-areas: 
  "saree1 saree1 saree2"
  "saree1 saree1 saree2"
  "saree3 saree4 saree4"
  "saree3 saree5 saree5"
  "saree6 saree6 saree7"
  "saree8 saree9 saree9"
  "saree10 saree11 saree12";
  gap: 16px;

  width:100%;
  height:100%;
}

#saree1 {
  grid-area: saree1;
}

#saree2 {
  grid-area: saree2;
}

#saree3 {
  grid-area: saree3;
}

#saree4 {
  grid-area: saree4;
}

#saree5 {
  grid-area: saree5;
}

#saree6 {
  grid-area: saree6;
}

#saree7 {
  grid-area: saree7;

}

#saree8 {
  grid-area: saree8;
}

#saree9 {
  grid-area: saree9;
}

#saree10 {
  grid-area: saree10;
}

#saree11 {
  grid-area: saree11;
}

#saree11 {
  grid-area:saree12;
}

.product img {
  width:100%;
  height:100%;
  object-fit:cover;
}

.gallery .turmeric {
  margin-top: 1rem;
  display:grid;
  grid-template-areas:
  "tr1 tr1 tr2 "
  "tr1 tr1 tr2 "
  "tr3 tr3 tr5"
  "tr4 tr4 tr5"
  "tr7 tr7  tr7";
  width:100%;
  height:100%;
  gap: 16px;

}

#tr1 {
  grid-area: tr1; 

}

#tr2 {
  grid-area:tr2;
}

#tr3 {
  grid-area: tr3;
}

#tr4 {
  grid-area: tr4;
}


#tr5 {
  grid-area: tr5;
}

#tr7 {
  grid-area: tr7;
}


.gallery .temitea {
  margin-top: 1rem;
  display:grid;
  grid-template-areas:
  "tm1 tm1 tm1 "
  "tm2 tm3 tm3 "
  "tm2 tm3 tm3"
  "tm4 tm4 tm4";
  width:100%;
  height:100%;
  gap: 16px;

}

#tm1 {
  grid-area: tm1; 

}

#tm2 {
  grid-area:tm2;
}

#tm3 {
  grid-area: tm3;
}

#tm4 {
  grid-area: tm4;
}


.gallery .quilt {
  margin-top: 1rem;
  display:grid;
  grid-template-areas:
  "q1 q1 q2 "
  "q3 q3 q3 ";
  width:100%;
  height:100%;
  gap: 16px;

}


#q1 {
  grid-area: q1; 

}

#q2 {
  grid-area:q2;
}

#q3 {
  grid-area: q3;
}

.gallery .pillow {
  margin-top: 1rem;
  display:grid;
  grid-template-areas:
  "p1 p1 p2 "
  "p1 p1 p2 ";
  width:100%;
  height:100%;
  gap: 16px;

}


#p1 {
  grid-area: p1; 

}

#p2 {
  grid-area:p2;
}


.gallery .shawl {
  margin-top: 1rem;
  display:grid;
  grid-template-areas:
  "s1 s1 s1 "
  "s3 s3 s2 ";
  width:100%;
  height:100%;
  gap: 16px;

}


#s1 {
  grid-area: s1; 

}

#s2 {
  grid-area:s2;
}

#s3 {
  grid-area: s3;
}


.gallery .duree {
  margin-top: 1rem;
  display:grid;
  grid-template-areas:
  "dr1 dr1 dr2 "
  "dr3 dr3 dr2 "
  "dr5 dr4 dr4"
  "dr5 dr4 dr4 ";
  width:100%;
  height:100%;
  gap: 16px;

}

#dr1 {
  grid-area: dr1; 

}

#dr2 {
  grid-area:dr2;
}

#dr3 {
  grid-area: dr3;
}

#dr4 {
  grid-area: dr4;
}


#dr5 {
  grid-area: dr5;
}

.gallery .honey {
  margin-top: 1rem;
  display:grid;
  grid-template-areas:
  "hn1 hn1 hn1"
  "hn2 hn2 hn3"
  "hn4 hn4 hn4";
  width:100%;
  height:100%;
  gap: 16px;

}

#hn1 {
  grid-area: hn1; 

}

#hn2 {
  grid-area:hn2;
}

#hn3 {
  grid-area: hn3;
}

#hn4 {
  grid-area: hn4;
}

.gallery .ins {
  margin-top: 1rem;
  display:grid;
  grid-template-areas:
  "i1 i1 i2 "
  "i1 i1 i2 "
  "i3 i3 i3";
  width:100%;
  height:100%;
  gap: 16px;

}


#i1 {
  grid-area: i1; 

}

#i2 {
  grid-area:i2;
}

#i3 {
  grid-area: i3;
}

.gallery .beebox {
  margin-top: 1rem;
  display:grid;
  grid-template-areas:
  "b1 b1 b2 "
  "b1 b1 b2 "
  "b3 b3 b3"
  "b4 b4 b4";
  width:100%;
  height:100%;
  gap: 16px;

}


#b1 {
  grid-area: b1; 

}

#b2 {
  grid-area:b2;
}

#b3 {
  grid-area: b3;
}

#b4 {
  grid-area: b4;
}


.gallery .toi {
  margin-top: 1rem;
  display:grid;
  grid-template-areas:
  "t1 t1 t1 "
  "t2 t2 t2 "
  "t3 t3 t3";
  width:100%;
  height:100%;
  gap: 16px;

}


#t1 {
  grid-area: t1; 

}

#t2 {
  grid-area:t2;
}

#t3 {
  grid-area: t3;
}


@media (max-width:1100px) {
  .gallery .saree {
    max-width:100%;
    grid-template-areas:
    "saree1 saree1"
    "saree2 saree3"
    "saree4 saree4"
    "saree5 saree5"
    "saree6 saree6"
    "saree7 saree8"
    "saree9 saree9"
    "saree10 saree11"
    "saree12 saree12 ";

  }

  .gallery .turmeric {
    max-width:100%;
    grid-template-areas: 
    "tr1 tr1"
    "tr2 tr3"
    "tr4 tr4"
    "tr5 tr5"
    "tr7 tr7";
  }

  .gallery .temitea {
    max-width:100%;
    grid-template-areas: 
    "tm1 tm1"
    "tm2 tm3"
    "tm4 tm4";
  }

  .gallery .quilt {
    max-width:100%;
    grid-template-areas: 
    "q1 q2"
    "q1 q2"
    "q3 q3";
  }
  .gallery .pillow {
    max-width:100%;
    grid-template-areas: 
    "p1 p1"
    "p2 p2";
  }
  .gallery .shawl {
    max-width:100%;
    grid-template-areas: 
    "s1 s1"
    "s2 s2"
    "s3 s3";
  }

  .gallery .duree {
    max-width:100%;
    grid-template-areas: 
    "dr1 dr1"
    "dr2 dr3"
    "dr4 dr4"
    "dr5 dr5";
  }

  .gallery .honey {
    max-width:100%;
    grid-template-areas: 
    "hn1 hn1"
    "hn2 hn3"
    "hn4 hn4" ;
  }

  .gallery .ins {
    max-width:100%;
    grid-template-areas: 
    "i1 i1"
    "i2 i3";
  }
  .gallery .beebox {
    max-width:100%;
    grid-template-areas: 
    "b1 b1"
    "b2 b3"
    "b4 b4";
  }
  .gallery .toi {
    max-width:100%;
    grid-template-areas: 
    "t1 t1"
    "t2 t2"
    "t3 t3";
  }
}


@media (max-width:768px) {
  .gallery {
    border: 1px solid #F1BB67;
  }

  .gallery .saree {
    max-width:100%;
    grid-template-areas: 
    "saree1 saree1"
    "saree2 saree2"
    "saree3 saree3"
    "saree4 saree4"
    "saree5 saree5"
    "saree6 saree6"
    "saree7 saree7"
    "saree8 saree8"
    "saree9 saree9"
    "saree10 saree11"
    "saree12 saree12";
  }

  .gallery .turmeric {
    max-width:100%;
    grid-template-areas: 
    "tr1 tr1"
    "tr2 tr3"
    "tr4 tr4"
    "tr5 tr7";
  }

  .gallery .temitea {
    max-width:100%;
    grid-template-areas: 
    "tm1 tm1"
    "tm3 tm2"
    "tm4 tm4";
  }
}
